# Cache, temporary files, binaries and other trash:
.*
*.so
*.pyc
!.gitignore
Makefile
__pycache__

# Minecraft server is almost only binaries:
/server/minecraft/

# User-data files and virtual environment which contains almost only binaries:
/server/flask/logs
/server/flask/venv
/server/flask/config.json

# CMake cache files
/server/cpp/CMakeFiles/
/server/cpp/CMakeCache.txt
*.cmake
