.*
!.gitignore
Makefile
*.pyc
__pycache__
/server/venv/
/server/minecraft/
/server/flask/config.json
/server/flask/logs
/server/cpp/CMakeFiles/
/server/cpp/CMakeCache.txt
/server/cpp/cmake_install.cmake
